<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>khangtl.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>khangtl.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>khangtl.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>khangtl.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>khangtl.controllers.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>khangtl.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserController</servlet-name>
        <servlet-class>khangtl.controllers.InsertUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRoomController</servlet-name>
        <servlet-class>khangtl.controllers.InsertRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDeviceController</servlet-name>
        <servlet-class>khangtl.controllers.InsertDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRepairController</servlet-name>
        <servlet-class>khangtl.controllers.ConfirmRepairController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDeviceController</servlet-name>
        <servlet-class>khangtl.controllers.HistoryDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRoomController</servlet-name>
        <servlet-class>khangtl.controllers.ChangeRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRequestRepairController</servlet-name>
        <servlet-class>khangtl.controllers.SendRequestRepairController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>khangtl.controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmChangeRoomController</servlet-name>
        <servlet-class>khangtl.controllers.ConfirmChangeRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleRepairController</servlet-name>
        <servlet-class>khangtl.controllers.HandleRepairController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartRepairController</servlet-name>
        <servlet-class>khangtl.controllers.StartRepairController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishRepairController</servlet-name>
        <servlet-class>khangtl.controllers.FinishRepairController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmFinishRepairController</servlet-name>
        <servlet-class>khangtl.controllers.ConfirmFinishRepairController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChangeUserRoom</servlet-name>
        <servlet-class>khangtl.controllers.AddChangeUserRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUserRoomController</servlet-name>
        <servlet-class>khangtl.controllers.ConfirmUserRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryRepairController</servlet-name>
        <servlet-class>khangtl.controllers.HistoryRepairController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRequestController</servlet-name>
        <servlet-class>khangtl.controllers.CancelRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateController</servlet-name>
        <servlet-class>khangtl.controllers.DateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>khangtl.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmNewRoomController</servlet-name>
        <servlet-class>khangtl.controllers.ConfirmNewRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepairQuantityController</servlet-name>
        <servlet-class>khangtl.controllers.RepairQuantityController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserController</servlet-name>
        <url-pattern>/InsertUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRoomController</servlet-name>
        <url-pattern>/InsertRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDeviceController</servlet-name>
        <url-pattern>/InsertDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRepairController</servlet-name>
        <url-pattern>/ConfirmRepairController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDeviceController</servlet-name>
        <url-pattern>/HistoryDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRoomController</servlet-name>
        <url-pattern>/ChangeRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRequestRepairController</servlet-name>
        <url-pattern>/SendRequestRepairController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmChangeRoomController</servlet-name>
        <url-pattern>/ConfirmChangeRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleRepairController</servlet-name>
        <url-pattern>/HandleRepairController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartRepairController</servlet-name>
        <url-pattern>/StartRepairController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishRepairController</servlet-name>
        <url-pattern>/FinishRepairController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmFinishRepairController</servlet-name>
        <url-pattern>/ConfirmFinishRepairController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChangeUserRoom</servlet-name>
        <url-pattern>/AddChangeUserRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUserRoomController</servlet-name>
        <url-pattern>/ConfirmUserRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryRepairController</servlet-name>
        <url-pattern>/HistoryRepairController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRequestController</servlet-name>
        <url-pattern>/CancelRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateController</servlet-name>
        <url-pattern>/DateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmNewRoomController</servlet-name>
        <url-pattern>/ConfirmNewRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepairQuantityController</servlet-name>
        <url-pattern>/RepairQuantityController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
